.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top{
    display: flex;
    gap:43px ;
    margin-right: 135px;
    margin-left: 135px;
    align-items: center;
}
.first-dev{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 15%, rgba(19, 19, 24, 0.00) 80%) ,url(./Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    height: 650px;
    width: 1170px;
    border-radius: 20px;
    margin-top: 49px;
    margin-left: 300px;
}
.title{
    color: #FFF;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
position: relative;
top:115px;
margin-left:295px ;
}
.title-des{
    width: 676px;
color: #FFF;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
position: relative;
top: 80px;
left: 210px;
}
.pic1{
    width: 48px;
height: 56.008px;
}
.dream{
    color: #131318;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.spon{
    color: #FF5400;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
nav{
    color: var(--Dark-02, #424247);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.navo{
    color: #ee5306;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.primary-btn{
    width: 174px;
    height: 52px;
    width: 174px;
border-radius: 8px;
background: #FFF;
color: rgba(19, 19, 24, 0.50);
font-size: 16px;
font-style: normal;
font-weight: 400;

}
.selector{
display: inline-flex;
padding: 16px;
align-items: flex-start;
gap: 24px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
position: relative;
top: 80px;
left:150px;

}
.inpo{
    width: 174px;
height: 18px;
border-radius: 8px;
background: #FFF;
padding: 16px;
color: rgba(19, 19, 24, 0.50);
font-size: 16px;
font-style: normal;
font-weight: 400;
}
.jewel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
}
.second-dev{
    display: flex;
justify-content: space-between;
    margin-left:280px;
    margin-right:377px;
    align-items: center;
}
.title1{
    color: #131318;
margin-left: 780px;
font-size: 40px;
font-style: normal;
font-weight: 800;
margin-top: 100px;
}
.title5{
    color: #131318;
font-size: 40px;
font-style: normal;
font-weight: 800;
margin-top: 100px;
}
.title6{
    color: #131318;
text-align: center;
margin-right: 500px;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.heading{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px 
}
.under>li{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px
}
.btn{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 800;
}
.pic2{
    width: 540px;
    height: 550px;
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat;
}
.title12{
    color: #131318;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 800;
margin-top: 100px;
}
.about{
    width: 643px;
color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
margin-left: 600px;
margin-right: 400px;
}
.devil{
    display: flex;
    gap: 30px;
    margin-left: 120px;
    margin-top: 48px;
}
.devil5{
    display: flex;
    gap: 30px;
    margin-top: 48px;  
    /* margin-right: 800px; */
    margin-right: 100%;
}
.devil2{
    display: flex;
    gap: 30px;
    margin-left: 70px;
    margin-top: 48px;
}
.goust{
width: 573px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding: 20px;

}
.demu{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-left: 250px;
}
.goust1{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 20px;
}
.amad{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-top: 25px;
    margin-left: 500px;
    padding: 20px;
}
.about2{
    width: 643px;
color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
margin-left: 600px;
}
.bonus{
    width: 1170px;
height: 500px;
flex-shrink: 0;
border-radius: 16px;
background: url(./Images/Group\ 39.png), lightgray 50%;
margin-top: 25px;
background-repeat: no-repeat;
}
.bonus1{
    width: 1170px;
height: 500px;
flex-shrink: 0;
border-radius: 16px;
background: url(./Images/Group\ 40.png), lightgray 50%;
margin-top: 25px;
background-repeat: no-repeat;
}
.bonus2{
    width: 1170px;
height: 500px;
flex-shrink: 0;
border-radius: 16px;
background: url(./Images/Group\ 39.png), lightgray 50%;
margin-top: 25px;
background-repeat: no-repeat;
}
.fifth-dav{
    margin-left: 250px;
   
}
.dib1{
    position: relative;
    top: 56px;
    margin-right: 56px;
margin-left: 45%;
    width: 579px;
height: 389px;
border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
}
.dib2{
    position: relative;
    top: 56px;
    left: 56px;
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 30px;
   margin-bottom: 20px;
}
.tiponi{
    width: 210px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 800;
margin-top: 56px;
margin-left: 560px;
}
.six-dav{
    display: flex;
    margin-top: 100px;
    gap: 30px;
    margin-left: 240px;
    align-items: center;
}
iframe{
    border-radius: 20px;
    width: 610px;
height: 424px;
}
.title2{
    width: 448px;
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
}
.desco{
    width: 532px;
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.desco1> li{
    width: 518px;
    color: #131318;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; 
}
.see{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-size: 20px;
font-style: normal;

}
.box{
    width: 324px;
height: 120px;
transform: rotate(-19.628deg);
border-radius: 16px;
background: #FF5400;
position: relative;
left: 1100px;
bottom: 200px;
}
.seven-dav{
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-right: 250px;
    margin-left: 250px;
    gap: 80px;
}
.seve{
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
}
.seve1{
    width: 350px;
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.sunno{
    width: 393px;
height: 45px;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
padding-left: 20px;


}
.third-btn{
    background-color: rgb(233, 11, 11);
    color: #FFF;
    border-radius: 10px;
    font-size: 19px;
    height: 35px;
    margin-top: 15px;
    width: 250px;
}
.seven{
    border: 1px solid lightcoral;
    border-radius: 10px;
    padding: 30px;
}
.claso{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    position: relative;
    top: 15px;
}
.claso1{
    
    color: #FFF;
   text-align: center;
    font-style: normal;
    font-size: 24px;
}
.foot{
    width: 2000px;
height: 502px;
background: rgba(19, 19, 24, 0.05);
margin-top: 60px;
}
.top10{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 800px;
    position: relative;
    top: 80px;
}
.icon{
    width: 174.322px;
height: 24px;
margin-left: 900px;
margin-top: 140px;
position: relative;
bottom: 30px;


}
.ses-pera{
    width: 769px;
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: 600px;
position: relative;
top: 50px;
}
.ses{
    color: #131318;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
}
.evan{
width: 700px;
}
.description{
    margin-left: 17%;
    width: 643px;
color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 400;
}
.logo{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
 margin-left: 50px;
}
.one{
    color: #131318;
font-size: 28px;
font-style: normal;
font-weight: 800;

}
.price{
    width: 452px;
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.red{
    color: #FF5400;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.batton{
    width: 150px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 800;
}

.mal{
    position: relative;
    top: 100px;
    left: 470px;
    color: #FFF;
text-align: center;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.mal1{
    position: relative;
    top: 100px;
    left: 970px;
    color: #FFF;
text-align: center;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.sri{
    position: relative;
    top: 100px;
    left: 520px;
    color: #FFF;
text-align: center;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.north{
    position: relative;
    top: 100px;
    left: 870px;
    color: #FFF;
text-align: center;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.kasmir{
    position: relative;
    top: 100px;
    left: 1150px;
    color: #FFF;
text-align: center;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.bang{
    position: relative;
    top: 100px;
    left: 1200px;
    color: #FFF;
text-align: center;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.ban{
    position: relative;
    top: 100px;
    left: 400px;
    color: #FFF;
text-align: center;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.group{
    gap: 10px;
}
.middle-section{
    margin-top: 100px;
    display: flex;
    gap: 40px;
    margin-left: 500px;
    position: relative;
    top: 40px;
}
.section-mid{
    margin-top: 100px;
    display: flex;
    gap: 40px;
    margin-left: 500px;
    position: relative;
bottom: 30px;
}
.munna{
    height: 50px;
    width: 130px;
    background-color: #ee5306;
    color: white;
    border-radius: 8px;
}
.seco{
    background-color:rgb(245, 245, 220) ;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px rgb(66, 65, 65);
}
.munna1{
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 55px;
    margin-left: 50px;
}


@media screen and (max-width: 660px) {
    .top{
       flex-direction: column;
    } 
   .first-dev{
    margin-left: 0%;
    height: 700px;
    width: 800px;
   }
   .selector{
    flex-direction: column;
   }
   .second-dev{
    flex-direction: column;
    margin-left:50%;
   }
   .devil, .devil2{
    flex-wrap: wrap;
    margin-left: 0%;
   }
   .devil5{
    flex-wrap: wrap;
   }
   .mal{
    top: 180px;
    left: 50%;
}
.mal1{
    top: 550px;
    left: 4%;
}
.devil2{
    margin-left: 0%;
    margin-top: 0px;
}
.devil5{
    margin-top:0%;
}
.sri{
    top: 450px;
    left:150px;
}
.north{
    top: 665px;
    left: 160px;
}
.kasmir{
    top: 840px;
    left: 120px;
}
.bang{
    top: 250px;
    left: 160px;
}
.ban{
    top: 490px;
    left: 20px;
}
.title1,  .about2{
    margin-left: 0%;
}
.demu{
    flex-direction: column;
    margin-left: 0%;
}
.amad{
    margin-left: 0%;
}
.seco{
    margin-left: 0px;
   width: 400px;
}
.middle-section, .section-mid{
    margin-left: 0%;
    flex-direction: column;
}
/* .title6,.description{
align-items: flex-start;
margin-right: 100%;
} */
.bonus, .bonus1, .bonus2{
    flex-wrap: wrap;
    left: 0%;
}
.seven-dav{
    flex-direction: column;
}
.seven{
   padding: 0%;
}
.foot{
    width:500px;
height: 502px;

}
.pic1{
    margin-left: 0%;
}
.dream{
    margin-left: 0%;
}
.icon{
    
margin-left: 80px;
margin-top: 140px;


}
.ses-pera{
        align-items: none;
        margin-left:0%;
        margin-right: auto;
    
    
}
.top10{
   
    margin-left: 80px;
    
}
}









